.nav-link:hover {
    background-color:grey;
}

.table-container {
    width: 100%; /* Ensure the container takes up the full width of its parent */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping inside the table cells */
}

table {
    width: 100%; /* Ensure the table can take up the full width of the container */
    border-collapse: collapse; /* Optional: To make the borders look nice */
}

th, td {
    padding: 8px 12px; /* Optional: Add padding for better readability */
    text-align: left; /* Optional: Align text to the left */
    border: 1px solid #ddd; /* Optional: Add border to cells */
}

@media (max-width: 768px) {
    table th:nth-child(5),
    table td:nth-child(5) {
      display: none;
    }
  }